
html {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/229/268/non_2x/white-brick-wall-for-background-free-photo.jpg") ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-style: inherit;
    
    
}

h1 {
    color:#F1948A;
}
img{
    float: center; 
    width: 400px; 
}
#thirdDiv{
    margin: 0 auto;
    height: 600px;
    width: 500px; 
    background-color:#EAEDED;
    padding: 50px;
    border-width: 12px;
    border-style: inset;
    border-color: #F1948A;

}

#spanID {
    font-size: 18px;
    margin: 50px;
}
.divClass {
    float: center;
    text-align: center;
    margin-bottom: 25px;
}
